<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Project</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;800&display=swap" rel="stylesheet">
    <link href='../stylesheets/addProjects.css' rel='stylesheet'>
</head>
<body>
    <div class="main">
        <h1>Add A New Project</h1>
        <div class="card">
            <form action='/addProject' method='POST'>
                <input type="text" name="project[title]" class="product_name" placeholder="Project Title">
                <input type="text" name="project[siteUrl]" class="price" placeholder="Project Link">
                <input type="text" name="project[codeUrl]" class="price" placeholder="Code Link">
                <input type="text" name="project[imgUrl]" class="price" placeholder="Image URL">
                <textarea placeholder="Add description" class="description" name="project[description]"
                    rows="10"></textarea>
                <input type="text" name="project[frontendtechnologies]" class="price" placeholder="Front-end Technologies Used">
                <input type="text" name="project[backendtechnologies]" class="price" placeholder="Back-end Technologies Used">
                <input type="text" name="project[features]" class="price" placeholder="Features">
                <button type="submit" class="button">Submit</button>
            </form>
            <a href="/projects" class="cancel">Cancel</a>
        </div>
    </div>
</body>

</html>