* {
  margin: 0;
  padding: 0;
  font-family: "Lato", "serif";
}

h1 {
  font-size: 6vw;
  text-align: center;
  margin: 2rem;
  color: #333;
}

h2 {
  font-size: 3vw;
  text-align: center;
  margin: 2rem;
  color: #333;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  padding: 1rem;
  margin: 1rem;
  background-color: grey;
  border-radius: 10px;
}

.project_image {
  width: 10rem;
  height: 10rem;
  border-radius: 5px;
  margin: 1rem;
}

.project_title {
  font-size: 2rem;
  padding: 0.5rem 0;
  color: white;
}

.project_url a {
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.button {
  padding: 1rem;
  border: 1px solid black;
  outline: none;
  flex-grow: 1;
  color: white;
  text-decoration: none;
  background-color: black;
  cursor: pointer;
}

.button:hover {
  color: black;
  background-color: white;
}
